/** CSS reset. **/
html {
    box-sizing: border-box;
    font-size: 16px;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}

/** CSS variables. */
:root {
    --color-primary: #353535;
    --color-secondary: #3c6e71;
    --color-light: #ffffff;
    --color-grey: #d9d9d9;
    --color-dark: #284b63;

    --color-brand-light-marvel: #85d7ff;
    --color-brand-marvel: #1fb6ff;
    --color-brand-dark-marvel: #009eeb;

    --color-brand-light-purple: #a389f4;
    --color-brand-purple: #7e5bef;
    --color-brand-dark-purple: #592dea;

    --color-brand-light-pink: #ff7ce5;
    --color-brand-pink: #ff49db;
    --color-brand-dark-pink: #ff16d1;

    --color-brand-light-orange: #ff9e7c;
    --color-brand-orange: #ff7849;
    --color-brand-dark-orange: #ff5216;

    --color-brand-light-green: #29eb7f;
    --color-brand-green: #13ce66;
    --color-brand-dark-green: #0f9f4f;

    --color-brand-light-yellow: #ffd55f;
    --color-brand-yellow: #ffc82c;
    --color-brand-dark-yellow: #f8b700;

    --color-brand-black: #1f2d3d;
    --color-brand-steel: #273444;
    --color-brand-slate: #3c4858;
    --color-brand-silver: #8492a6;
    --color-brand-extra-dark-smoke: #c0ccda;
    --color-brand-dark-smoke: #d3dce6;
    --color-brand-smoke: #e0e6ed;
    --color-brand-extra-dark-snow: #e5e9f2;
    --color-brand-dark-snow: #eff2f7;
    --color-brand-snow: #f9fafc;
    --color-brand-white: #ffffff;

    --color-brand-blue: #1fb6ff;
    --color-brand-positive: #13ce66;
    --color-brand-negative: #ff4949;
    --color-brand-warning: #ffc82c;

    --color-title: var(--color-brand-slate);

    --size-title: 1.5em;
}

/** Global styles. */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
    font-family: "Open Sans", sans-serif;
    color: var(--color-title);
}

table,
th,
td {
    border-collapse: collapse;
}
