{{ define "pos/pos2.html" }}
<script>
    document.addEventListener("alpine:init", () => {
        Alpine.store("orders", []);
        Alpine.store("items", []);
    });
</script>
<div class="page-container" x-init>
    <!-- embed menu fragment -->
    {{ template "pos/_fragment_menu.html" . }}
    <!-- embed review fragment -->
    {{ template "pos/_fragment_review.html" . }}
</div>
<style>
    .page-container {
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    .page-container > .menu-fragment {
        flex: 1;
    }
    .page-container > .review-fragment {
        width: 480px;
    }
</style>
{{ end }}
