{{ define "layouts/base.html" }}
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>{{ .Title }}</title>
        <script src="https://cdn.jsdelivr.net/npm/pocketbase@0.13.1/dist/pocketbase.umd.min.js"></script>
        <!--
        <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
        />
        -->
        <link rel="stylesheet" href="/styles.css" />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        >
            window.pb = new PocketBase("/");
            Alpine.start();
        </script>
    </head>
    <body>
        <script>
            async function __initializePocketBase() {
                window.pb = new PocketBase("/");

                // Try to authenticate using cookies.
                window.pb.authStore.loadFromCookie(document.cookie);
                if (!window.pb.authStore.isValid) {
                    try {
                        await window.pb.collection("users").authRefresh();
                    } catch (_) {
                        window.pb.authStore.clear();
                    }
                    document.cookie = window.pb.authStore.exportToCookie({
                        httpOnly: false,
                    });
                }
            }
        </script>
        <div x-init="__initializePocketBase()" style="display: none"></div>
        {{ .Body }}
    </body>
</html>
{{ end }}
